<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'img/ICONS_OO-removebg-preview.webp' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/deletar_conta.css' %}" />
    <title>ABNT Model</title>
  </head>
  <body>
    <form action="{% url 'deletar_conta' %}" method="POST">
      {% csrf_token %}
      <div id="forma">
        <div id="container">
          <div class="container_texto">
            <p class="texto_deletar">Deletar conta</p>
          </div>
          
          <p class="texto_explicacao"><b>OBSERVAÇÃO</b>: Você está prestes a excluir sua conta, <b> e esta é uma ação irreversível!</b> <br />
            Digite a frase a seguir para que sua conta seja excluída:</p>
            <p class="frase_exclusao">"desejo excluir minha conta permanentemente."</p>
            <div class="container_input">
              <input type="text" name="frase" class="input_frase">
            </div>
          <p class="mensagem_de_erro">{{ mensagem }}</p>
          <div class="container_botao">
            <button class="botao_confirmar" type="submit">CONFIRMAR</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
