<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/ICONS_OO-removebg-preview.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/formatador.css' %}">
    <title>ABNT Model</title>
</head>
<body>
    <form action="{% url 'formatador' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="nome_do_arquivo" type="text" placeholder="Nome do Arquivo">
        <input type="file" name="img">
        <input name="titulo" type="text" placeholder="Título">
        <input name="autor" type="text" placeholder="Autor">
        <input name="instituicao" type="text" placeholder="Instituição">
        <input name="ano" type="text" placeholder="Ano">
        <input name="resumo" type="text" placeholder="Resumo">
        <input name="palavras_chaves" type="text" placeholder="Palavras-Chaves">
        <input name="abstract" type="text" placeholder="Abstract">
        <input name="keywords" type="text" placeholder="Keywords">
        <textarea name="introducao" placeholder="Introdução"></textarea>
        <textarea name="problematizacao" placeholder="Problematização"></textarea>
        <textarea name="justificativa" placeholder="Justificativa"></textarea>
        <textarea name="questao_geral" placeholder="Questão geral"></textarea>
        <textarea name="objetivo" placeholder="Objetivo"></textarea>
        <textarea name="metodologia" placeholder="Metodologia"></textarea>
        <textarea name="desenvolvimento" placeholder="Desenvolvimento"></textarea>
        <textarea name="analise_discussao" placeholder="Análise e Discussão"></textarea>
        <textarea name="conclusao" placeholder="Conclusão"></textarea>
        <textarea name="referencias" placeholder="Referências Bibliográficas"></textarea>
        <select name="tipo_do_arquivo" id="">
            <option value="pdf">PDF</option>
            <option value="docx">DOCX</option>
        </select>
        <button type="submit">ENVIAR</button>
    </form>

    {% if download_url %}
        <a href="{{ download_url }}" class="btn">Baixar PDF</a>
    {% endif %}
</body>
</html>
