<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABNT Model</title>

    <link rel="shortcut icon" href="{% static 'img/ICONS_OO-removebg-preview.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %} 
    <div class="fundo-login">
        <div class="forma-login">
            <div class="container-textos-botoes">
                <div class="menor-container-textos-botoes">
                    <div class="container-organizacao-textos">
                        <div class="container-texto-bem-vindo">
                            <p class="texto-bem-vindo">Bem-vindo de volta!</p>
                        </div>
                        <div class="container-segundo-texto">
                            <div class="textos-segundo-texto">
                                <p class="texto-nao-possui-conta">Não possui conta? <a class="rota-cadastro" href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container-botoes-login">
                        <div class="container-escrita-email">
                            <p class="texto-email">Email:</p>
                        </div>
                        <div class="container-botao-email">
                            <div class="container-borda-botao-email">
                                <input name="email" type="email" class="botao-email"> 
                            </div>
                            <div class="container-imagem-email">
                                <div class="imagem-email"></div>
                                <img style="width: 30px;" src="{% static '../static/img/email.png' %}" alt="">
                            </div>
                        </div> 
                    
                    <div class="container-texto-senha">
                        <div class="container-escrita-senha">
                            <p class="texto-senha">Senha:</p>
                        </div>
                    </div>
                    <div class="container-botao-senha">
                        <div class="container-borda-botao-senha">
                            <div class="container-localizacao-botao-senha">
                                <input name="senha" type="password" class="botao-senha">
                            </div>
                        </div>
                        <div class="container-imagem-senha">
                            <div class="imagem-senha"></div>
                            <img style="width: 30px;" src="{% static '../static/img/cadeado.png' %}" alt="">
                        </div>
                    </div>
                    <div class="container-texto-esqueceu">
                        <p class="texto-esqueceu"> <a class="texto-esqueceu" href="{% url 'recuperar_conta' %}">Esqueceu a senha?</a></p>
                    </div>
                </div>
                {% if status_de_erro == true %}
                <p class="mensagem_de_erro">{{mensagem}}</p>
                {% endif %}
                <input class="botao-entrar" type="submit" value="ENTRAR">
                </div>
            </div>
            <div class="container-imagens">
                <div class="container-logo">
                    <a href="{% url 'index' %}"><img style="width: 80px;" src="{% static '../static/img/ICONS_OO-removebg-preview.webp' %}" alt=""></a>
                </div>
                <img style="width: 450px;" src="{% static '../static/img/homem computador claro.png' %}" alt="">
            </div>
        </div>
    </div> 
    </form>
    <script src="{% static '../static/script/index.js' %}"></script>
</body>
</html>

<!-- sugestão nomear inputs com uma so classe e padronizar, assim gastando menos linha de css e linkando no cadastro -->