<!DOCTYPE html>
{% load static%}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static '../static/img/ICONS_OO-removebg-preview.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="../../static/styles/perfil.css" />
    <title>ABNT Model</title>
  </head>
  <body>
    <div id="forma">
      <div id="componentes">
        <div id="componentes-sup">
              <a id="subtitulo-voltar" href="{% url 'index' %}" 
                ><img
                  style="width: 30px"
                  src="../../static/img/icon-voltar.png"
                  alt="icone-voltar"/>
                  <p>Voltar para o menu</p>
              </a>
          <a href="{% url 'perfil_editar' %}">
            <div id="edit-icon">
              <img
                style="width: 30px"
                src="../../static/img/edit-icon.png"
                alt="icone-edit"
              />
            </div>
          </a>
        </div>

        <div id="componentes-inf">
          <div id="perfil-id">
            <div class="foto-user">
              <img
                style="width: 160px; border-radius: 100px;"
                src="{{ imagem }}"
                alt=""
              />
            </div>
            <a href="{% url 'deletar_conta' %}"><button class="botao_deletar" >DELETAR CONTA</button></a>
          </div>
          <div class="dados-pessoais-view">
            <div>
              <label class="label" for="name">Nome:</label>
              <p class="infos">{{ nome }}</p>
            </div>
            <div>
              <label class="label" for="Sobrenome">Sobrenome:</label>
              <p class="infos">{{ sobrenome }}</p>
            </div>
            <div>
              <label class="label" for="Email">Email:</label>
              <p class="infos">{{ email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
