:root{
    --cor-fundo: #879BAF;
    --cor-forma: #EDF0F3;
}

.fundo_cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
}
.forma_cadastro{
    display:flex;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--cor-forma);
    align-items: center;
    gap: 75px;
    margin-top: 60px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cadastrar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background: red; */
    padding: 20px;
}
.textos{
    display: flex;
    flex-direction: column;
    font-family: "Crimson Text";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
    /* background: green; */
}
.possui_conta{
    color: #222;
    font-family: "Crimson Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-inputs{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nome-sobrenome{
    display: flex;
    flex-direction: row;
    gap: 20px;
    line-height: 0;
    /* background: rebeccapurple; */
}
.nome, .sobrenome, .senha, .confirmar-senha{
    display: flex;
    flex-direction: column;
}
.email{
    display: flex;
    flex-direction: column;
    line-height: 0.5;
    /* background: pink; */
}
.container-senhas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    line-height: 0.5;
}
.inputs{
    border-radius: 8px;
    border: 1px solid #3C3C3C;
    background: #FFF;
    padding: 10px;
}
.botao-cadastrar{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: var(--cor-fundo) ;
    color: var(--cor-forma);
    font-size: 17px;
    font-family: "Crimson Text";
}
.botao-cadastrar:hover{
    cursor: pointer;
    background: #6d859d;
}
.rota-login{
    color: #879BAF;
}
.label{
    font-size: 17px;
    font-family: "Crimson Text";
}
