:root {
    --cor-topbar: #879BAF;
    --cor-topbar-mais: #6F8395;
    --cor-hoover-formatador: #93a2b0;
    --cor-fundo: #EDF0F3;
    --cor-fundo-escuro: #C7C7CA;
    --cor-catalogo: #213A5C;
    --texto: #2c2c2c;
    --cor-edicao-paginas: #46617c;
    --cor-subtitulo: #213A5C;
    --cor-azul-escuro: #213A5C; 
    --texto-secundario: #EDF0F3;
    --cor-forma_1: #12111C;
    --cor-fundo-inputs: #C7C7CA; 
}
