@import url('fonte.css');
@import url('cores.css');

:root{
    --fonte-principal: var(--playfair);
    --fonte-geral: var(--raleway);
}

body.dark-mode{
    --cor-topbar: #171D25;
    --cor-fundo: #5F6D7A4C;
    --texto: #E0E4E8;
}

body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-topbar);
    color: var(--texto);
    padding: 20px;
    align-items: center;
}

/* container principal */
#forma {
    max-width: 800px;
    margin: 120px auto;
    padding: 20px;
    background: var(--cor-fundo);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* seção dos documentos */
.componentes_documentos {
    padding: 10px;
}

/* lista de documentos */
ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

/* estilos para os cards dos documentos */
.cards {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
}

.cards input[type="checkbox"] {
    margin-right: 10px;
}

.cards a {
    text-decoration: none;
    color: var(--cor-topbar);
    font-weight: bold;
    font-family: var(--fonte-principal);
}

.cards a:hover {
    text-decoration: underline;
}

/* estilos para o botão de deletar */
button {
    background-color: #dc3545;
    color: #E0E4E8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c82333;
}

/* mensagem quando não há documentos */
p {
    font-family: var(--fonte-principal);
    font-size: 18px;
}
.container_btn{
    display: flex;
    justify-content: right;
}
#voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 8px;
    text-decoration: none;
    color: var(--texto);
    font-size: 18px;
}