@import url(fonte.css);
@import url(cores.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fonte-principal: var(--playfair);
    --fonte-geral: var(--raleway);
    --fonte-secundaria: var(--crimson);
}

body.dark-mode{
    --cor-topbar: #171D25;
    --cor-topbar-mais: #0F141B;
    --cor-hoover-formatador: #25303e;
    --cor-fundo: #5F6D7A4C;
    --texto: #E0E4E8;
    --cor-fundo-inputs: #25303e;
}

body {
    font-family: var(--fonte-geral);
    color: var(--texto);
    display: flex;
    background-color: var(--cor-topbar);
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: var(--cor-topbar-mais);
    padding: 20px;
    color: #E0E4E8;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}
.container{
    width: 100%;
}
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    background-color: var(--cor-topbar);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: var(--cor-hoover-formatador);
}

.form-section {
    margin-left: 300px;
    padding: 20px;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    height: 100vh;
    overflow-y: auto;
}

.form-group {
    display: none;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.class_input, .class_textarea{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    background: var(--cor-fundo-inputs);
    color: var(--texto);
}
.class_textarea{
    height: 250px;
    text-align: justify; /* Justifica o texto */
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 1.5;
    font-weight: normal;
    white-space: pre-wrap; /* Permite a quebra de linha */
    overflow: auto; /* Adiciona barras de rolagem, se necessário */
    word-wrap: break-word; /* Garante que o texto longo quebre dentro do contêiner */
    margin: 0; /* Remove margens para um ajuste melhor */
}
.class_input{
    height: 75px;
    text-align: justify; /* Justifica o texto */
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 1.5;
    font-weight: normal;
    white-space: pre-wrap; /* Permite a quebra de linha */
    overflow: auto; /* Adiciona barras de rolagem, se necessário */
    word-wrap: break-word; /* Garante que o texto longo quebre dentro do contêiner */
    margin: 0; /* Remove margens para um ajuste melhor */
}

button {
    background-color: var(--cor-topbar);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: var(--cor-hoover-formatador);
}
.container_checkbox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}

