@import url(cores.css);
@import url(fonte.css);

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte-principal: var(--crimson-regular);
}

body{
    display: flex;
    padding: 64px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    background: var(--cor-topbar);
    height: 75vh;
}
#forma{
    display: flex;
    width: 880px;
    height: 480px;
    padding: 30px;
    margin-top: 45px;
    align-items: center;
    gap: 75px;
    border-radius: 50px;
    background-color: var(--cor-fundo);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
#componentes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 40px 40px 40px;
}
#componentes-sup{
    /* background: green; */
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
#subtitulo-voltar{
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
} 
#subtitulo{
    padding: 0px 0px 3px 0px ;

}
#edit-icon{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
}
#perfil-id{
    /* background: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}
#componentes-inf{
    /* background: chocolate; */
    display: flex;
    align-items: center;
    gap: 40px;
}
.id-text::before{
    content: "ID:";
    font-weight: bold;
}
.dados-pessoais-view{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-shrink: 0; */
    gap:18px
}
.infos{
    width: 230px;
    height: 20px;
    display: flex;
    padding:8px;
    text-decoration: solid 2px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #D3D4E4;
    border: solid 1px black;
}
.label{
    font-weight: bold;
}
.container_btn_edit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
}
.btn_edit_perfil_salvar{
    border-radius: 8px;
    background: #40c44d;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.btn_edit_perfil_cancelar{
    border-radius: 8px;
    background: #dd3d3d;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.btn_edit_perfil_cancelar:hover{
    background: #e66d6d;
    box-shadow: none;
}
.btn_edit_perfil_salvar:hover{
    background: #40bc4c;
    box-shadow: none;
}
.redirecionamento_edit{
    text-decoration: none;
}
.botao_deletar{
    width: 150px; 
    padding: 7px;
    border-radius: 15px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: 49px 49px;
    border: 0.742px solid #3C3C3C; 
    background-color: #e5dfdf; 
    font-size: 10px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    cursor: pointer;
}

